<?xml version="1.0"?>
<launch>
  <node pkg="rostopic" type="rostopic" name="start_naviation_node"
    args="pub /move_base_simple/goal geometry_msgs/PoseStamped '{
    header: {
        seq: 0,
        stamp: {
            secs: 0,
            nsecs: 0
        },
        frame_id: 'map'
    },
    pose: {
        position: {
            x: -5.5,
            y: 7.9,
            z: 0.0
        },
        orientation: {
            x: 0.0,
            y: 0.0,
            z: 0.9,
            w: -0.4
        }
    }
    }'"/>
</launch>
